:root {
    --variable:codigovariable;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.contenedor {
    margin: 0 auto;
    padding: 10rem;
    background-color: palegreen;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    place-content: center;
}

.item {
    font-size: 2rem;
    background-color: palevioletred;
    border: 0.5rem solid;
}

.item-1 {
    background-color:plum;
    border-color: rgb(129, 56, 129);
}

.item-2 {
    background-color: peru;
    border-color:  rgb(85, 50, 14);
    grid-column: 2/4;
}


.item-3 {
    background-color: paleturquoise;
    border-color:  rgb(73, 148, 148);
    grid-column: 1/3;
}

.item-4 {
    background-color:plum;
    border-color: rgb(129, 56, 129);
}

.item-5 {
    background-color:plum;
    border-color: rgb(129, 56, 129);
}

.item-6 {
    background-color: peru;
    border-color:  rgb(85, 50, 14);
}

.item-7 {
    background-color: paleturquoise;
    border-color:  rgb(73, 148, 148);
}