:root {
    --variable:codigovariable;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.contenedor {
    margin: 0 auto;
    padding: 10rem;
    min-width: 40rem;
    background-color: palegreen;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}